<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnergyQuiz"
        tools:targetApi="31">
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CatalogScreenActivity"
            android:exported="false" />
        <activity
            android:name=".StatisticsScreenActivity"
            android:exported="false" />
        <activity
            android:name=".MultiPlayerGameActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsScreenActivity"
            android:exported="false" />
        <activity
            android:name=".HomeScreenActivity"
            android:exported="false" />
        <activity
            android:name=".EditQuestionQuestionCatalog"
            android:exported="false" />
        <activity
            android:name=".NewQuestionQuestionCatalog"
            android:exported="false" />
        <activity
            android:name=".MainActivityQuestionCatalog"
            android:exported="false" />
        <activity
            android:name=".SinglePlayerStartActivity"
            android:exported="false" />
        <activity
            android:name=".DeleteAccountActivity"
            android:exported="false" />
        <activity
            android:name=".SinglePlayerResultActivity"
            android:exported="false" />
        <activity
            android:name=".SinglePlayerGameActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Loginscreen"
            android:exported="false" />
        <activity
            android:name=".Lobbyscreen"
            android:exported="false" />
    </application>

</manifest>