<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnergyQuiz"
        tools:targetApi="31">
        <activity
            android:name=".MultiPlayer.MultiPlayerLobbyScreen"
            android:exported="false" />
        <activity
            android:name=".MultiPlayer.MultiPlayerStartActivity"
            android:exported="false" />
        <activity
            android:name=".MultiPlayer.MultiPlayerResultActivity"
            android:exported="false" />
        <activity
            android:name=".Miscellaneous.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CatalogScreenActivity"
            android:exported="false" />
        <activity
            android:name=".Miscellaneous.StatisticsScreenActivity"
            android:exported="false" />
        <activity
            android:name=".MultiPlayer.MultiPlayerGameActivity"
            android:exported="false" />
        <activity
            android:name=".Miscellaneous.SettingsScreenActivity"
            android:exported="false" />
        <activity
            android:name=".Miscellaneous.HomeScreenActivity"
            android:exported="false" />
        <activity
            android:name=".QuestionCatalog.EditQuestionQuestionCatalog"
            android:exported="false" />
        <activity
            android:name=".QuestionCatalog.NewQuestionQuestionCatalog"
            android:exported="false" />
        <activity
            android:name=".QuestionCatalog.MainActivityQuestionCatalog"
            android:exported="false" />
        <activity
            android:name=".SinglePlayer.SinglePlayerStartActivity"
            android:exported="false" />
        <activity
            android:name=".UserManagement.DeleteAccountActivity"
            android:exported="false" />
        <activity
            android:name=".SinglePlayer.SinglePlayerResultActivity"
            android:exported="false" />
        <activity
            android:name=".SinglePlayer.SinglePlayerGameActivity"
            android:exported="false" />
        <activity
            android:name=".UserManagement.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".UserManagement.MainActivity"
            android:exported="false" />
        <activity
            android:name=".UserManagement.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".UserManagement.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".UserManagement.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Loginscreen"
            android:exported="false" />
        <activity
            android:name=".Lobbyscreen"
            android:exported="false" />
    </application>

</manifest>